@{
    ViewBag.Title = "Home Page";
}

<div  id="back" class="jumbotron">
    <h1 style="color:royalblue">E-Auction</h1>
    <p class="lead" style="color:royalblue">Это бесплатный сервис для продажи чего угодно по цене которая устраивает и продовца и покупателя </p>
    <p><a href="~/Auction/AddLot" class="btn btn-primary btn-lg">Начать Аукцион &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Дополнительная информация</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Кнопка не работает &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Контактные данные</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Кнопка не работает &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Что-то еще</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Кнопка не работает &raquo;</a></p>
    </div>
</div>
<style>
    #back {
        background-image: url(http://storage.darakchi.uz/source/1/1N8IL1JiDb1TIL2YbsXd7saDJoXKAUBy.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
</style>